@font-face {
  font-family: 'Georgia';
  src: url('./Fonts/Georgia.ttf') format('truetype');
}

@font-face {
  font-family: 'Orbitron-Regular';
  src: url('./Fonts/Orbitron-Regular.ttf') format('truetype');
}


@font-face {
  font-family: 'AverageSans-Regular';
  src: url('./Fonts/AverageSans-Regular.ttf') format('truetype');
}


/* Media query for tablets and larger screens */
@media screen and (min-width: 768px) {

}

/* Media query for desktops and larger screens */
@media screen and (min-width: 1024px) {

}

body {
  overflow: hidden;
  background-color: white;

}

.header {
  position: absolute;
  /* box-shadow: 5px 3px 10px 1px rgba(0, 0, 0, 0.1); */
  left: 0;
  right: 0;
  top: -3px;
  height: 50px;
  display: flex;
  justify-content: right;
  align-items: center;
  z-index: 2;
}

.header a {
  margin-left:25px;
  /* color: white; */
  text-decoration: none;
  font-size: 21px;
  font-weight: bold;
  border-radius: 5px;
  font-family: 'AverageSans-Regular', serif;
  font-weight: 500;
  text-shadow: #00000023 0.05px 0.05px 0.05px;
}

.header-right {
  display: flex;
  align-items: center;
}

.header a {
  color: white;
  position: relative;
  text-decoration: none;
  padding-right:20px;
}

.header a:not(#Selected)::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 40px;
  /* background-color: black; */
  bottom: -10px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .4s ease-in-out;
}

.header a svg {
  position: relative;
  top:5px;
  right:5px;
}

#Selected::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  /* background-color: rgba(0, 0, 0, 0.555); */
  bottom: -8px;
  left: 0;
  transform-origin: right;
  transform: scaleX(1);
  transition: transform .4s ease-in-out;
}

.header a:not(#Selected):hover::before {
  transform-origin: left;
  border-radius: 10px;
  transform: scaleX(1);
}

.IntroductoryText{
  margin-top:290px;
  margin-left:100px;
  float: left;
  justify-content: center;
  font-size: 32px;
}

.IntroductoryText #firstSpan{
  font-weight: bold;
  font-size: 60px;
}

#GroupImage{
  position: relative;
  bottom:300px;
  width: 644px;
  height: 644px;
}

#OurImage{
  position: relative;
  width: 200px;
  height: 231px;
  right: 636px;
  bottom: 221px;
}

#TextImage{
  position: relative;
  width: 500px;
  right: 827px;
  top: -76px;
  z-index: -1;
}


.RectangleForm{
  box-sizing: border-box;
  position: absolute;
  width: 432px;
  height: 555px;
  top: 230px;
  right: 135px;
  background: rgba(217, 217, 217, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  background: #7ac5de;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkbox-input {
  margin-right: 10px;
  width: 15px;
  height: 15px;
  background: rgba(217, 217, 217, 0.7);
  border: 2px solid #ccc;
  border-radius: 15px;

}


.CheckBoxRules{
  font-size:16px;
  color: #546e7a;
}

.input-container {
  position: relative;
  margin-bottom: 20px;
}

.text-input {
  width: 80%;
  height: 30px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.8);
}

.text-input:focus {
  outline: none;
}

form{
  margin-left:40px;
}

#fname{
  margin-top:85px;
}

#lname{
  margin-left: 20px;
}

#lname, #fname{
  width: 35%;
}

.IntroductoryText .RectangleForm h2{
  color: white;
  /* border: 1 solid black; */
  /* position: relative; */
  margin-top: -100px;
}

.SubmitRegister{
  position: relative;
  left:0;
  right:0;
  width: 239px;
  height: 56px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 80px;
  border-color: #00000000;
  font-size: 25px;
  margin: 20px 50px;
  font-family: 'Orbitron-Regular', serif;
  cursor: pointer;

}

.text-input::placeholder {
  color: #888;
}

.text-input:focus::placeholder {
  color: transparent;
}


.text-input::placeholder {
  color: black;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  /* identical to box height, or 136% */
  letter-spacing: -0.02em;
}

#DesginSVG{
  position: absolute;
  background-color: #546e7a;
  margin-left: 87px;
  top: 0;
  width: 100%;
  top: -10px;
  background: none;
}

.sketchOne{

  /* background-color: red; */
  /* right:0; */
  /* top:47px; */
  /* border-rad: 100px; */
  /* border-start-start-radius: 3px; */
}


/* .profilePhoto {
  position: absolute;
  border-radius: 50%;
  left: 40px;
  top: -3px;
} */
